* {
    margin: 0;
    padding: 0;

    --primary-color: #1E1E1E;
    --secondary-color: #303030;
    --card-head: #ACB4BD;
    --card-border: #DEE6EE;
    --card-shadow: #111111;
}

*::selection{
    background-color: var(--primary-color);
}

body {
    overflow: hidden;
}

h1{
    font-weight: normal;
}

svg{
    width: 5rem;
    height: 5rem;
}